body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:  #0171f9;
}

h1 {
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
}

.cell:hover {
    background-color: #f0f0f0;
}

.cell.X {
    color:  #c41520;
}

.cell.O {
    color: #394e3c66;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color:#fb8501 ;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background 0.3s;
}
.win {
    background-color: #fb8501 !important;
    color: white; /* Ensure text is visible */
    font-weight: bold;
}

button:hover {
    background-color:#ffb706;
}

#status {
    font-size: 1.5rem;
    margin: 15px;
    color: white;
}